extends ./_layout-default.pug

block content
  .container
    each post in page.paginated
      div
        a(href=site.base + post.path)
          h2= post.title
        div= post.date
        if post.tags
          each tag in post.tags
            a(href=site.base + tag.path)
              div= tag.title
        if post.categories
          each cateogry in post.categories
            a(href=site.base + cateogry.path)
              div= cateogry.title
      p!= post.summary
      p
        a(href=site.base + post.path) Read More
      
    ul
      if page.prevPath          
        li
          span &larr; <a href="#{site.base + page.prevPath}">Newer</a>
      if page.nextPath
        li
          span <a href="#{site.base + page.nextPath}">Older</a> &rarr;

    p Subscribe to <a href="#{site.base + '/feed.xml'}">RSS feed</a>